<div class="container" id="nav-container">
  <div class="nav" fxLayout="row" fxLayoutAlign="space-between center">
    <a routerLink="/">
      <img src="/assets/logo.png" class="logo" />
    </a>
    <div class="nav-menu" fxLayout="row" fxLayoutAlign="space-between center">
      <a class="link hover-underline-animation" routerLink="/">Accueil</a>
      <a class="link hover-underline-animation" routerLink="/anciens-examens">Anciens examens</a>
      <a class="link hover-underline-animation" routerLink="/faq">FAQ</a>
      <a class="link hover-underline-animation" routerLink="/charte">Charte</a>
      <a class="link hover-underline-animation" routerLink="/contact">Contact</a>
    </div>
    <div>
      <!-- Spacer -->
    </div>
  </div>
  <div class="divider"></div>
</div>
<div class="height-keeper"></div>