#nav-container {
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.8s;
  background-color: #fff8f2;
  z-index: 999;
  box-sizing: border-box;
  .nav {
    padding-bottom: 1em;

    .logo {
      width: 13vw;
    }

    .nav-menu {
      width: 45%;
      .link {
        font-size: 1.5vw;
      }
    }
  }
}

.height-keeper {
  height: 13vw;
}

@media screen and (max-width: 959px) {
  .height-keeper {
    height: 19vw;
  }
}
