<div class="container" id="nav-container">
  <div class="nav" fxLayout="row" fxLayoutAlign="space-between center">
    <a routerLink="/">
      <img src="/assets/logo.png" class="logo" />
    </a>
    <div class="nav-menu" fxLayout="row" fxLayoutAlign="space-between center">
      <a class="link hover-underline-animation" *ngFor="let link of router_links" [routerLink]="link.url">
        {{ link.name }}
      </a>
    </div>
    <div>
      <!-- Spacer -->
    </div>
  </div>
  <div class="divider"></div>
</div>
<div class="height-keeper"></div>