body {
  margin: 0;
  background-color: #fff8f2;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
  text-decoration: none; /* no underline */
}

.container {
  padding-left: 5.21em;
  padding-right: 5.21em;
  padding-top: 2em;
  padding-bottom: 0;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #131312;
}
