.main-title-container {
  height: 300px;
  margin-bottom: 8vw;
  .main-title {
    font-size: 5.5vw;
    line-height: 5.5vw;
    font-family: 'Inconsolata', monospace;
    height: 18vw;
    .typing {
      display: inline;
      font-family: inherit;
      font-size: inherit;
    }
  }
}

.mission-container {
  .mission-header {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    margin-top: -67px;
    .mission-header-text {
      font-family: 'Libre Baskerville';
      padding: 2vw 4.167vw;
      text-align: center;
      font-size: 2vw;
      line-height: 2vw;
    }
  }
  .fifty-split {
    * {
      width: 50%;
      display: inline-block;
    }

    .mission-text {
      font-size: 1.5vw;
      line-height: 2.5vw;
      padding-top: 60px;
      padding-left: 30px;
      padding-right: 30px;
      text-align: justify;
    }
    .mission-image-content {
      width: 100%;
      display: block;
    }
  }
}
