<div class="container">
  <div class="nav" fxLayout="row" fxLayoutAlign="space-between center">
    <a>
      <img src="/assets/logo.png" class="logo" />
    </a>
    <div class="nav-menu" fxLayout="row" fxLayoutAlign="space-between center">
      <a class="link">Accueil</a>
      <a class="link">Anciens examens</a>
      <a class="link">Charte</a>
      <a class="link">Anciens examens</a>
      <a class="link">Contact</a>
    </div>
    <div>
      <!-- Spacer -->
    </div>
  </div>
  <div class="divider"></div>
</div>
