<div class="container">
  <div class="nav" fxLayout="row" fxLayoutAlign="space-between center">
    <a routerLink="/">
      <img src="/assets/logo.png" class="logo" />
    </a>
    <div class="nav-menu" fxLayout="row" fxLayoutAlign="space-between center">
      <a class="link" routerLink="/">Accueil</a>
      <a class="link" routerLink="/anciens-examens">Anciens examens</a>
      <a class="link" routerLink="/charte">Charte</a>
      <a class="link" routerLink="/contact">Contact</a>
    </div>
    <div>
      <!-- Spacer -->
    </div>
  </div>
  <div class="divider"></div>
</div>
